@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    src: url('../fonts/sf-ui-display/sf-ui-display-bold.otf') format('OpenType');
}

@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    src: url('../fonts/sf-ui-text/SFUIText-Regular.ttf') format('TrueType');
}

button {
    padding: 0;
    margin: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
      считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

header {
    padding: 15px 12px 15px 16px;
    display: flex;
    align-items: center;
}

main {
}

body {
    font-family: SF UI Text;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */
    letter-spacing: -0.03em;
    color: #20282F;

}

h1 {
    font-family: SF UI Display;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.01em;
    /* black-main .7 */
    color: rgba(13, 63, 103, 0.7);

}

h2 {
    font-family: SF UI Display;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    letter-spacing: -0.01em;
    color: #3A4248;
}

a {
    text-decoration: none;
}

textarea {
    border: none;
    background: none;
    outline: none;
    resize: none;
    width: 100%;
}

textarea.note-maker__text {
    font-family: SF UI Text;
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    letter-spacing: -0.03em;

    color: #333333;
}

textarea.note-maker__title {
    font-family: SF UI Display;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    color: #3A4248;

}

input {
    text-align: left;
    border: none;
    background: none;
    outline: none;
    height: 24px;
}

.search-form_default {

}

.search-form_active {
}

.search-form {
    margin-left: auto;
}

.search-form__content {
    height: 40px;
    display: flex;
    align-items: center;
}

.search-form_button {
    width: 40px;
    height: 40px;
}

.search-form__input {
    box-sizing: border-box;
    width: 265px;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
}

.logo__text {
    margin-left: 6px;
}

.toolbar {
    width: 40px;
    height: 40px;
}

.note-maker {
    color: rgba(55, 65, 72, 0.5);
    margin: 0 12px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(13, 63, 103, 0.14);
    border-radius: 6px;
}

.note-maker_default {
    padding: 16px 24px 16px 16px;
}

.note-maker_active {
    padding: 15px 8px 10px 8px;
}

.note-maker_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px 0 8px;
}

.note-maker__title_default::-webkit-input-placeholder {
    font-family: SF UI Display;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: rgba(55, 65, 72, 0.5);
}

.note-maker__text_default::-webkit-input-placeholder {
    font-family: SF UI Text;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: rgba(55, 65, 72, 0.5);
}

.note-maker__title_active::-webkit-input-placeholder {
    font-family: SF UI Display;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3A4248;
}

.note-maker__text_active::-webkit-input-placeholder {
    font-family: SF UI Text;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #333333;
}

.note-maker__buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;

}

.note-maker__buttons-left {
    display: flex;
    align-items: center;
}

.note-maker__buttons-left_default {
}

.note-maker__buttons-left_active {
}

.note-maker__button-color {
    width: 40px;
    height: 40px;
}

.note-maker__buttons-right {
    margin-left: auto;
}

.note-maker__button-cancel {
    width: 40px;
    height: 40px;
}

.note-maker__button-submit {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.notes {
    color: #20282F;
}

.notes__note {
    margin: 12px 12px 0 12px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(13, 63, 103, 0.1);
}

.notes__note_active {
    padding: 17px 8px 8px 8px;
    border-radius: 6px;
}

.notes__note_default {
    padding: 17px 24px 22px 16px;
    border-radius: 0px 6px 6px 0px;
}

.notes__note:first-child {
    margin-top: 20px;
}

.notes__note_default:nth-of-type(odd) {
    border-left: 3px solid #1EE3CF;
}

.notes__note_default:nth-of-type(even) {
    border-left: 3px solid #6B48FF;
}

.notes_text {
    margin: 0 8px;
}

.notes__buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;


}

.notes__buttons-left {
    display: flex;
    align-items: center;
}

.notes__buttons-left_default {
}

.notes__buttons-left_active {
}

.notes__button-color {
    width: 40px;
    height: 40px;
}

.notes__buttons-right {
    margin-left: auto;
}

.notes__button-cancel {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.notes__button-submit {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
