header {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.search-button {
    margin-left: auto;
}

.logo-text {
    margin-left: 6px;
}

body {
    font-family: Arimo, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 141%;
    color: #333333;
    margin: 0% 20% 0% 20%;
}

h1 {
    font-size: 26px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: rgba(13, 63, 103, 0.7);
}

h2 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    color: #3A4248;
}

a {
    text-decoration: none;
}

.note-maker {
    color: rgba(55, 65, 72, 0.5);
    width: 100%;
}

.note-maker-buttons {
    display: inline-flex;
    align-items: flex-end;
    width: 100%;
}

.cancel {
    margin-left: auto;
}

